<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
    <% @posts.each do |post| %>
      <div class="post-preview">
        <a href="<%= post_path(post) %>">
          <h2 class="post-title">
            <%= post.title %>
          </h2>
          <p class="post-subtitle">
            <%= truncate post.body, length: 500 %>
          </p>
        </a>
        <p class="post-meta">Posted by
          <a href="#"><%= post.user.name %></a>
          on <%= post.created_at %></p>

          <p>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        post_path(post), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_post_path(post), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        post_path(post),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </p>
      </div>
      <hr>
    <% end %>
  </div>
 </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
